.jc-screen-warp {
  position: relative;
  height: 100%;
  min-width: 3200px;
  background: url(../assets/screen-bg.png) no-repeat center;
  background-size: cover;
  transform-origin: 0 0;

  &.jc-no-docking {
    min-width: 2800px;
  }
}

.jc-flex-con,
.jc-flex-con-2,
.jc-flex-con-3 {
  margin: 0 $jc-default-dis/2;
}

.jc-screen-content {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  display: flex;
  padding: 0 0 $jc-default-dis;
}

/deep/ {
  .jc-title {
    height: 40px;
    line-height: 40px;
    background: url(../assets/title.png) no-repeat left center;
    padding-left: 16px;

    .jc-title-sign {
      position: relative;
      top: 2px;
    }

    .jc-title-content {
      color: rgb(139, 193, 252);
      font-size: 18px;
      font-weight: bold;
      margin-left: 10px;
    }

    .jc-right-box {
      float: right;
      font-size: 12px;
      color: #14edfc;

      .jc-activated {
        color: #ffffff;
      }

      .jc-right-item {
        margin: 0 10px;
        cursor: pointer;
      }

      .jc-right-item:last-child {
        margin-right: 0;
      }
    }
  }
}

/deep/ {
  .jc-category {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6px 16px 16px;

    .jc-category-item {
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 50%;

      .jc-category-title {
        font-size: 12px;
        letter-spacing: 1px;
        color: #11e7ff;
        margin-right: 14px;
      }

      .jc-category-count {
        font-size: 16px;
        letter-spacing: 1px;
        color: #ffffff;
      }
    }
  }
}

// 通用的边框及内
/deep/ .data-statistics-border {
  border: 1px solid rgb(32, 73, 154);
  box-shadow: inset 0 0 10px 0 rgb(32, 73, 154);
}

//大屏滚动条样式
/deep/ .data-statistics-scrollbar {
  // 滚动条
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /*内层滚动槽*/
  &::-webkit-scrollbar-track-piece {
    background-color: #00185b;
    border-radius: 8px;
  }

  /*滚动的滑块*/
  &::-webkit-scrollbar-thumb {
    background-color: #055ab8;
    border-radius: 10px;
  }

  /*滚动的滑块,鼠标放上时*/
  &::-webkit-scrollbar-thumb:hover {
    background: #055ab8;
  }
}
