.jc-screen-warp {
  position: relative;
  height: 100%;
  background-color: #000438;
  width: 3200px;
}

.jc-screen-content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 0 0 $jc-default-dis;
}

/deep/ {
  .jc-title {
    height: 40px;
    line-height: 40px;

    img {
      position: relative;
      top: 2px;
    }

    .title {
      color: rgb(139, 193, 252);
      font-size: 18px;
      font-weight: bold;
      margin-left: 10px;
    }

    .right {
      float: right;
      font-size: 12px;
      color: rgb(5, 114, 189);
      cursor: pointer;
      margin-left: $jc-default-dis/2;

      &.activated {
        color: rgb(20, 237, 252);
      }

      &:not(:last-child) {
        &::after {
          content: "";
          float: left;
          width: 1px;
          height: 14px;
          margin-right: $jc-default-dis/2;
          margin-top: 14px;
          background-color: rgb(5, 114, 189);
        }
      }
    }
  }
}