//弹框过度样式 vue
.fade-enter-active,
.fade-leave-active {
  transition: transform 0.6s, opacity 0.6s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY(200%) translateZ(0);
}

//视频弹框样式
.content {
  width: 840px;
  height: 205px;
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  z-index: 999;
  bottom: $jc-default-dis;
  left: 50%;
  margin-left: -420px;
  border-radius: 3px;
  box-shadow: 0 0 5px 0px #cccccc;
  padding: 10px;

  .title {
    position: relative;
    padding: 5px 10px 10px;
  }

  .title:before {
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 0;
    margin: auto 0;
    content: "";
    display: block;
    width: 3px;
    height: 14px;
    border-radius: 2px;
    background-color: #409eff;
  }

  .right {
    float: right;

    &>span {
      cursor: pointer;
      float: left;
      margin-left: 10px;

      &>img:last-child {
        display: none;
      }

      &:hover>img:last-child {
        display: inline;
      }

      &:hover>img:first-child {
        display: none;
      }
    }
  }

  .exit {
    background: red;
    color: white;
    padding: 1.5px 10px;
    border-radius: 3px;
  }
}

//视频窗口样式
.live-out {
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100% - 34px);
  .jc-live{
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
  }
}

.big-box {
  width: 0;
  height: 0;
  display: inline-block;
  background: url(./assets/video.png) no-repeat;
  background-size: 100% 100%;
}

.live-in {
  box-sizing: border-box;
  white-space: nowrap;
  // display: inline-block;
  width: 100%;
  height: 100%;
  float: right;

  .live {
    display: inline-block;
    // border: 1px solid #cccccc;
    height: 100%;
    width: 200px;
    position: relative;
    background: url(./assets/video.png) no-repeat;
    background-size: 100% 100%;

    .userName {
      padding: 2px 10px;
      background: rgba($color: #000000, $alpha: 0.2);
      color: white;
      width: 100%;
      position: absolute;
      z-index: 100;
    }

    .badNetwork,
    .badStream {
      padding: 2px 10px;
      color: white;
      width: 100%;
      font-size: 16px;
      position: absolute;
      z-index: 100;
      top: 45%;
      text-align: center;
      font-weight: bold;
    }

  }

  .audio {
    background: url(./assets/audio.png) no-repeat;
    background-size: 100% 100%;
  }
}

//大窗口
.full-content {
  bottom: 50%;
  margin-bottom: -250px;
  height: 495px;
  .live-out {
    // overflow-x: hidden;
    // overflow-y: auto;
    // height: 440px;
    position: relative;

    .jc-live{
      overflow-x: hidden;
      overflow-y: auto;
    }

    .big-box {
      width: 73%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .live-in {
      width: 26%;
      white-space: normal;
      box-sizing: border-box;
      float: right;
      height: 100%;

      .live {
        width: 100%;
        height: 33%;
        display: block;
        margin-bottom: 5px;
        cursor: pointer;
      }

      .big-live {
        animation: big-live-to-full 0.3s linear;

        width: 73%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
      }
    }
  }
}

@keyframes big-live-to-full {
  0% {
    height: 32%;
    width: 26%;
    left: 70%;
  }

  100% {
    width: 73%;
    height: 100%;
    left: 5px;
  }
}

//放大过渡动画
.full-animation {
  animation: to-full 0.4s linear;

  .big-box {
    animation: big-box-to-full 0.4s linear;
  }

  .live-in {
    animation: live-in-to-full 0.4s linear;
  }
}

@keyframes live-in-to-full {
  0% {
    width: 100%;
  }

  100% {
    width: 210px;
    white-space: normal;
  }
}

@keyframes big-box-to-full {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 600px;
    height: 440px;
    position: absolute;
    left: 10px;
    top: 44px;
  }
}

@keyframes to-full {
  0% {
    bottom: $jc-default-dis;
  }

  100% {
    bottom: 50%;
    margin-bottom: -250px;
  }
}

.normal-animation {
  animation: to-normal 0.4s linear;

  .big-box {
    animation: big-box-to-normal 0.4s linear;
  }

  .live-in {
    animation: live-in-to-normal 0.4s linear;
  }
}

@keyframes live-in-to-normal {
  0% {
    width: 210px;
    white-space: normal;
  }

  100% {
    width: 100%;
    white-space: nowrap;
  }
}

@keyframes big-box-to-normal {
  0% {
    width: 600px;
    height: 440px;
    position: absolute;
    left: 10px;
    top: 44px;
  }

  100% {
    width: 0;
    height: 150px;
  }
}

@keyframes to-normal {
  0% {
    top: inherit;
    bottom: 400px;
  }

  25% {
    bottom: 300px;
  }

  50% {
    bottom: 200px;
  }

  75% {
    bottom: 100px;
  }

  100% {
    bottom: $jc-default-dis;
    top: inherit;
  }
}

//小窗口
.content-small {
  background-color: white;
  width: 200px;
  position: fixed;
  z-index: 9999;
  bottom: $jc-default-dis;
  left: 50%;
  margin-left: -100px;
  border-radius: 3px;
  box-shadow: 0 0 5px 0px #cccccc;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;

  &>span {
    cursor: pointer;

    &>img:last-child {
      display: none;
    }

    &:hover>img:last-child {
      display: inline;
    }

    &:hover>img:first-child {
      display: none;
    }
  }

  .count {
    line-height: 24px;
    cursor: inherit;
  }

  .exit {
    background: red;
    color: white;
    padding: 1.5px 10px;
    border-radius: 3px;
  }
}

//观摩窗口
.observe {
  width: 620px;
  height: 495px;
  margin-left: -310px;
  bottom: 50%;
  margin-bottom: -250px;

  .live-out {
    height: 440px;
  }

  .live {
    width: 600px;
    height: 440px;
  }
}

//来电弹框样式
.call-box {
  position: fixed;
  z-index: 9999;
  text-align: center;
  width: 100%;
  bottom: $jc-default-dis;

  .title {
    text-align: center;
  }

  img {
    cursor: pointer;
    margin: 0 20px;
  }

  .invitedButton {
    display: inline-block;

    .btn {
      display: none;
    }

    &:hover {
      .btn {
        display: inline;
      }

      .gif {
        display: none;
      }
    }
  }
}