.jc-screen-warp,
.jc-screen-space {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
}
$jc-screen-bg: #030415;

/* 大屏header */
$jc-screen-height: 40px;

/deep/ .jc-screen-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $jc-screen-height;
  z-index: 99;
  background: url(../modules/header/assets/head-title-bg.png) no-repeat center;
  background-size: 100% 100%;
  .jc-screen-title {
    position: relative;
    margin: 0 auto;
    width: 585px;
    height: 60px;
    background: url(../modules/header/assets/head-bg.png) no-repeat center;
    background-size: 100% 100%;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    line-height: 54px;
    letter-spacing: 1px;
    &:after {
      position: absolute;
      content: "";
      left: 20%;
      right: 20%;
      height: 3px;
      bottom: 4px;
      border-radius: 2px;
      background-color: #ffffff;
    }
  }
  .jc-header-left {
    position: absolute;
    top: 0;
    left: $jc-default-dis;
    height: $jc-screen-height;
    z-index: 1;
  }
  .jc-header-right {
    position: absolute;
    top: 0;
    right: $jc-default-dis;
    height: $jc-screen-height;
    z-index: 1;
  }
  .jc-header-item {
    display: inline-block;
    color: #ffffff;
    height: $jc-screen-height;
    line-height: $jc-screen-height;
    vertical-align: middle;
  }
  .jc-weather {
    @extend .jc-header-item;
  }
  .jc-time {
    padding: 0 $jc-default-dis/2;
    @extend .jc-header-item;
  }
  .jc-grid {
    cursor: pointer;
    background: url(../modules/header/assets/grid.png) no-repeat center;
    background-size: 16px auto;
    width: $jc-screen-height;
    @extend .jc-header-item;
    &:hover {
      background-image: url(../modules/header/assets/grid-on.png);
    }
  }
  .jc-org {
    cursor: pointer;
    background: url(../modules/header/assets/org.png) no-repeat center;
    background-size: 18px auto;
    width: $jc-screen-height;
    @extend .jc-header-item;
    &:hover {
      background-image: url(../modules/header/assets/org-on.png);
    }
  }
  .jc-org-switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: $jc-screen-height;
    margin-left: $jc-default-dis;

    .jc-org-text {
      display: table;
      cursor: pointer;
      height: $jc-screen-height * 0.6;
      padding: 0 $jc-default-dis;
      margin-top: $jc-screen-height * 0.2;
      background-color: $jc-screen-bg;
      border-radius: 4px;
      border: solid 1px rgba(255, 255, 255, 0.28);
      color: #ffffff;
    }
    .jc-org-cascader {
      position: absolute;
      top: $jc-screen-height + 5px;
      right: 0;
      height: 0;
      overflow: hidden;
      background-color: #ffffff;
      transition: height 0.4s;
      will-change: height;
      &.jc-org-show {
        height: 202px;
      }
    }
  }
}

/* 大屏操作区域 */
/deep/ .jc-screen-opreate {
  position: absolute;
  left: 50%;
  z-index: 6;
  transform: translateX(-50%);
  bottom: $jc-default-dis/2;
  .jc-opreate-item {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../modules/operate/assets/opreate-bg.png) no-repeat center;
    background-size: 100% 100%;
    margin-left: $jc-default-dis/2;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      background-image: url(../modules/operate/assets/operate-on.png);
    }
  }
}
