$jc-map-header-height: 40px; //map header高度

.jc-map-warp {
  position: relative;
  overflow: hidden;
}

.jc-title-warp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: $jc-map-header-height;
  line-height: $jc-map-header-height;
  padding-left: $jc-default-dis;
  background-color: $jc-color-white;
}

.jc-map-space {
  position: relative;
  width: 100%;
  height: 100%;
}

.jc-controll-warp {
  position: absolute;
  right: 0;
  top: 0;
  width: $jc-map-header-height;
  background-color: $jc-color-white;
  height: $jc-map-header-height;
  overflow: hidden;
  transition: height 0.4s;
  will-change: height;

  &.jc-active {
    height: $jc-map-header-height * 3;
  }

  .jc-controll-item {
    display: block;
    text-align: center;
    width: 100%;
    cursor: pointer;
    height: $jc-map-header-height;

    &:hover,
    &.jc-active {
      color: $jc-color-primary;
    }
  }
}

$jc-item-width: 36px;

.jc-auto-area {
  position: absolute;
  top: 50px;
  left: $jc-default-dis;
  z-index: 8;
  opacity: .6;
  transform: translateY(-150%);
  transition: transform 0.4s, opacity 0.4s;

  .el-cascader {
    width: 120px;
  }
}

.jc-area-search {
  opacity: .6;
  transform: translateX(-80px);
  transition: transform 0.4s, opacity 0.4s;
}

.jc-panel-area {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 auto;
  z-index: 8;
  padding: 0 6px;
  background-color: rgba($color: $jc-menu-bg-color, $alpha: 0.6);
  border-radius: $jc-border-radius-base;
  text-align: center;
  transform: translate(-50%, 100%);
  opacity: 0;
  transition: transform 0.4s, opacity 0.4s;

  &.jc-area-show {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.jc-map-auto {
  .jc-auto-area {
    opacity: 1;
    transform: translateY(0);
  }

  .jc-panel-auto {
    z-index: 9;
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.jc-map-custom {
  .jc-panel-custom {
    z-index: 9;
    opacity: 1;
    transform: translate(-50%, 0);
  }

  .jc-area-search {
    opacity: 1;
    transform: translateX(0);
  }
}

.jc-panel-item {
  display: inline-block;
  vertical-align: middle;
  width: $jc-item-width;
  height: $jc-item-width;
  line-height: $jc-item-width;
  color: $jc-color-white;
  cursor: pointer;

  &:hover,
  &.jc-active {
    color: $jc-color-primary;
  }
}